* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.img-cadastro img {
    width: 410px;
    height: 600px;
    border-radius: 17px;

}

.cadastro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    width: 410px;
    height: 600px;
    background-color: white;
    border-radius: 17px;
    gap: 30px;
}

h1 {
    font-family: "Roboto";
    font-size: 38px;
}

input {
    width: 100%;
    height: 48px;
    padding: 12px 15px 12px 45px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.5s;

}

.input-group {
    position: relative;
    width: 85%;
    margin-bottom: 15px;
}

.input-group i:not(.eye-icon) {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    /*calculo para deixar o icones centralizados*/
    color: #888;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

input:focus

/*focus serve para estilizar apenas quando o usuario clina, dando foco ao iten*/
    {
    border-color: #000000;
}

button {
    width: 348px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

a {
    color: #888;
    text-decoration: none;
    font-size: 20px;
    font-family: "Inria Sans";
}

a:hover {
    text-decoration: underline
}